<div class="container">

  <div class="card">
    <div class="card-header">
      Upload csv to read
    </div>
    <div class="card-body">

      <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
        accept=".csv" />

    </div>
  </div>
  <div class="form-group row"></div>

  <div class="form-group row" *ngIf="records.length > 0">
    <label for="search" class="col-sm-2 col-form-label" style="text-align: right">Search</label>
    <div class="col-sm-6">
      <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
    </div>
  </div>

  <table class="table table-striped border mt-1" *ngIf="records.length > 0">
    <thead class="thead-dark">
      <tr>
        <th scope="col" [appSort]="records" data-order="desc" data-name="make">Camper Make</th>
        <th scope="col" [appSort]="records" data-order="desc" data-name="brand">Camper Brand</th>
        <th scope="col" [appSort]="records" data-order="desc" data-name="sleeps">Sleep Number</th>
        <th scope="col" [appSort]="records" data-order="desc" data-name="price">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records | searchFilter:searchValue">
        <th scope="row">{{record.make}}</th>
        <td scope="row">{{record.brand}}</td>
        <td scope="row">{{record.sleeps}}</td>
        <td scope="row">{{record.price}}</td>
      </tr>

    </tbody>
  </table>
  <a href="javascript:;" *ngIf="records.length > 0" (click)="getJsonData()" class="btn btn-primary">Convert Json </a>

  <a href="javascript:;" *ngIf="records.length > 0" (click)="fileReset()" class="btn btn-primary">Reset </a>

  {{jsondatadisplay}}
</div>